body {
    height: 100%;
    background-color: rgb(245, 220, 240);
}
h1 {
    position: relative;
    color: white;
}

div {
   position: absolute;
    height: 80%;
    width: 37%;
    top: 100px;
}

#div0 {
    background-color: rgb(208, 184, 236);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin-left: 10%;
}

#div1 {
    background-color: rgb(208, 184, 236);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin-left: 50%;  
}

span {
    
    position: fixed;
    background-color: rgb(113, 185, 226);
    border-color: black;
    border-style: solid;
    font-size: 20px;
    padding: 5px;
}